{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Users{% endblock %}</h1>
  {% if g.user %}
    <!--<a class="action" href="{{ url_for('blog.create') }}">New</a>-->
  {% endif %}
{% endblock %}

{% block content %}
<table>
  <tr>
    <th>id</th>
    <th>Username</th>
    <th>Zip Code</th>
    <th>City</th>
    <th>State</th>
    <th>Action</th>
  </tr>
  {% for post in posts %}
    <tr>
      <td>{{ post['id'] }}</td>
      <td>{{ post['username'] }}</td>
      <td>{{ post['zip_code'] }}</td>
      <td>{{ post['city'] }}</td>
      <td>{{ post['state'] }}</td>
      <td>
        {% if g.user['id'] == post['id'] %}
          <a class="action" href="{{ url_for('auth.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock %}