{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% from "_formhelpers.html" import render_field %}
  <form method=post>
    <dl>
      {{ render_field(form.first_name) }}
      {{ render_field(form.middle_name) }}
      {{ render_field(form.last_name) }}
      {{ render_field(form.username) }}
      {{ render_field(form.email) }}
      {{ render_field(form.password) }}
      {{ render_field(form.confirm) }}
      {{ render_field(form.zip_code) }}
    </dl>
    <p><input type=submit value=Register>
  </form>
{% endblock %}